.alert-chat-popover {
  .chat-popover-dialog {
    // Center the popover
    width: 70%;
    margin: auto auto;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
    overflow: visible;

    &::backdrop {
      background-color: rgba(0, 0, 0, 0.7);
    }

    .chat-popover-dialog-close {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(25%, -25%);
      cursor: pointer;
      border-radius: 10%;
      background-color: white;
      border: 1px solid #9ad1e8;
      outline: none;
      svg {
        color: #e67979;
        width: 1rem;
        height: 1rem;
        margin: 0.3rem;
      }
    }

    .chat-popover-dialog-body {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.5rem;
      margin-top: 0.5rem;

      .chat-popover-dialog-body-image {
        width: 100%;
        border-radius: 0.5rem;
      }

      .chat-popover-dialog-body-config {
        margin-top: 1rem;
        .chat-popover-dialog-body-config-select {
          margin: 15% 0;
          label {
            font-size: 0.9rem;
            font-weight: 600;
            padding: 0.2rem 0.5rem;
          }

          select {
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 1px solid #a9a9a9;
            outline: none;
            font-size: 0.9rem;
          }
        }
      }

      .chat-popover-dialog-body-chat {
        aspect-ratio: 16/11;
        overflow-y: auto;
        .empty-chat {
          display: block;
          margin: 0 auto;
          margin-top: 15%;
          object-fit: contain;
          height: 40%;
        }

      }

      .chat-popover-dialog-body-input {
        display: flex;
        gap: 0.5rem;
        margin-top: 0.5rem;
        border: 1px solid #a9a9a9;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;

        .text-field {
          border: none;
          outline: none;
          flex-grow: 1;
        }
        .send-button {
          border: none;
          outline: none;
          background-color: transparent;

          .send-button-img {
            color: #3592c8;
            width: 1.5rem;
            aspect-ratio: 1/1;
            border-radius: 40%;
          }
        }
      }

      .chat-popover-dialog-body-download {
        display: block;
        color: white;
        background-color: #3555c8;
        border: 1px solid rgb(49, 134, 184);
        padding: 0.5rem;
        font-size: 0.8rem;
        border-radius: 0.5rem;
        cursor: pointer;
        text-align: center;
        margin: 0.5rem 0;
        margin-left: auto;

      }
    }
  }
}
